NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
WHATSAPP_SERVICE_URL=https://leadgen-automation-production.up.railway.app
WHATSAPP_API_SECRET=27pwgfjvq491aircy8lh6nz3eb5mkus0
N8N_WEBHOOK_BASE_URL=https://n8n-production-b85da.up.railway.app
N8N_BASIC_AUTH=
RESEND_API_KEY=
N8N_AI_TRIGGER_URL=
N8N_OUTREACH_TRIGGER_URL=
